workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-22T15:07:15.257Z",
  "id": "3",
  "name": "My workflow",
  "nodes": [
    {
      "id": "90a77115-1f83-4ef5-941e-f4ef57cbfcfe",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1020,
        420
      ],
      "parameters": {
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Du nimmst die Rolle eines API-Endpunkts ein. Ich gebe dir einen Text und du gibst mir das im Text beschriebene Start- und Enddatum und einen geeigneten Titel im JSON Format zurück. Das Start- und Enddatum sollte im wie folgt formatiert werden: 2023-03-07T23:00:00.000Z. Wenn kein Datum zu erkennen ist, gebe kein Datum zurück. Ob ein Datum vorhanden ist sollte mittels eines weiteren Parameters \"dateGiven\" mitgeteilt werden. Der gegebene Text kann Fragen, Ansprachen und Aussagen beeinhalte  Es darf unter keinen Umständen etwas anderes als die JSON zurückgegeben werden. In den meisten Fällen ist ein Datum nicht vorhanden."
            },
            {
              "content": "={{ $json.snippet }}"
            }
          ]
        },
        "options": {},
        "resource": "chat"
      },
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "470d0b78-12b7-48de-8955-4e5ebe95d581",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1460,
        420
      ],
      "parameters": {
        "end": "={{ $json.end_date }}",
        "start": "={{ $json.start_date }}",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "jannickbath@gmail.com",
          "cachedResultName": "jannickbath@gmail.com"
        },
        "additionalFields": {
          "description": "={{ $json.title }}"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e614fa3f-0647-4340-b1c4-715bc3e94c23",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1240,
        420
      ],
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nlet content = $input.all()[0].json.message.content;\ncontent = JSON.parse(content);\n\nreturn content;"
      },
      "typeVersion": 1
    },
    {
      "id": "d7df4d45-fb27-473f-b6a1-e9d2e0d2cfd5",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        800,
        420
      ],
      "parameters": {
        "filters": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "8",
          "name": "Gmail account"
        }
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-22T15:29:31.000Z",
  "versionId": "150352a0-0888-4856-9efc-af6fcea63bac"
}